@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&family=Shippori+Mincho&family=Zen+Kaku+Gothic+New&family=Zen+Maru+Gothic&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap');

/* 全体のスタイル */
body {
	font-family: "Zen Kaku Gothic New", serif;
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	color: #2c3e50;
	margin-top: 20px;
	font-size: 28px;
}

p {
	text-align: center;
	color: #34495e;
	font-size: 16px;
}

.logout-container {
	text-align: center;
	margin-top: 20px;
}

a {
	display: inline-block;
	margin: auto;
	padding: 8px 12px;
	color: blue;
	border-radius: 4px;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

a:hover {
	background-color: rgb(192, 192, 192);
	text-decoration: none;
}

/* テーブルのスタイル */
table {
	width: 90%;
	margin: 20px auto;
	border-collapse: collapse;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border: 1px solid #ddd;
	border-radius: 8px;
	overflow: hidden;
	text-align: left;
}

table caption {
	font-size: 18px;
	font-weight: bold;
	margin: 10px;
	color: #2c3e50;
}

thead {
	background-color: #007BFF;
	color: white;
	font-size: 16px;
}

thead th {
	padding: 15px;
	border-bottom: 2px solid #ddd;
}

tbody tr {
	border-bottom: 1px solid #ddd;
}

tbody td {
	padding: 15px;
	font-size: 16px;
	color: #333;
	border-right: 1px solid #ddd;
}

tbody td:last-child {
	border-right: none;
}

/* 偶数行の背景色を設定 */
tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}

/* 行にホバー時の効果 */
tbody tr:hover {
	background-color: #e0f7fa;
	cursor: pointer;
}