@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&family=Shippori+Mincho&family=Zen+Kaku+Gothic+New&family=Zen+Maru+Gothic&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap');
/* 全体のスタイル */
body {
	font-family: "Zen Kaku Gothic New", serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

input,
button,
textarea,
select {
	/* 親要素のフォントを継承 */
	font-family: inherit;
	font-weight: bolder;
}

.container {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 450px;
}

h2 {
	text-align: center;
	color: #333;
}

label {
	display: block;
	margin-bottom: 5px;
	color: #555;
	font-weight: bold;
}

input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 14px;
	box-sizing: border-box;
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
	border-color: #007BFF;
	outline: none;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

a {
	text-align: right;
}

button {
	width: 100%;
	margin-top: 15px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #007BFF;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #0056b3;
}

/* 非表示クラス */
.hidden {
	display: none;
}

/* 切り替えボタンのスタイル */
.toggle-container {
	margin-top: 10px;
	text-align: center;
}

.toggle-container button {
	background-color: #6c757d;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s ease;
}

.toggle-container button:hover {
	background-color: #5a6268;
}