<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/login.css}">
	<title>パスワードリセット</title>
</head>

<body>
	<div class="container">
		<h2 id="form-title">パスワードリセット</h2>
		<!-- ログインフォーム -->
		<form id="password-reset-form" class="form" th:action="@{/password/reset}" method="post">
			<label for="email">メールアドレス</label>
			<input type="email" name="email" id="email" autocomplete="email" required>
			<!-- エラーメッセージの表示 -->
			<p th:if="${message}" style="color: purple;">[[${message}]]</p>
			<button type="submit">送信</button>
			<button type="button" onclick="window.location.href='/login'">戻る</button>
		</form>
	</div>
</body>

</html>